//colors
$white: #FFFFFF;
$greyDark: #505050;
$grey: #949494;
$greyLight: #EAEAEA;
$purple: #586582;
$purpleLight: #DBB9F8;
$blue: #83C1E6;
$blueMedium: #E3F2FC;
$blueLight: #F2F8FC;
$green: #88CA90;
$greenLight: #B8E986;
$yellow: #FDD166;
$red: #FC776D;
$orange: #FFA253;

//fonts
$varelo: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
$weightReg: 400;
$weightBold: 700;

$openSans: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$weightReg: 400;
$weightLight: 100;
$weightBold: 600;
$styleItalic: italic;

//global
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
