//colors
$white: #ffffff;
$greyDark: #505050;
$grey: #949494;
$greyLight: #eaeaea;
$purple: #586582;
$blue: #5087E4;
$green: #88CA90;
$greenLight: #63D699;
$nude: #f9e8de;

//fonts
$varelo: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
$weightReg: 400;
$weightBold: 700;

$oxygen: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;

//global
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
