@charset "utf-8";
@import "normalize";
@import "bourbon";

//variables
$white: #ffffff;
$greyDark: #505050;
$grey: #949494;
$greyLight: #eaeaea;
$purple: #586582;
$blue: #5087E4;
$green: #88CA90;
$greenLight: #63D699;
$nude: #f9e8de;

$varelo: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
$weightReg: 400;
$weightBold: 700;

$oxygen: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;

//global
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.half{
  width:50%;
}

.oneThird{
  width:33.3%;
}

.alignLeft{
  float:left;
}

.alignRight{
  float:right;
}

.centered{
  text-align:center;
}

.illoLg{
  width:300px;
  height:300px;
  @include border-top-radius(150px);
  @include border-bottom-radius(150px);
  background: $greyLight;
}

.illoSm{
  width:120px;
  height:120px;
  @include border-top-radius(60px);
  @include border-bottom-radius(60px);
  background: $greyLight;
  margin:0 auto 50px auto;
}

.btn{
  text-decoration: none;
  color:$white;
  background:$grey;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  padding:10px 30px;
  margin: 20px 0 0 0;
  display: inline-block;
  @include transition(all .2s ease-in-out);
  &:hover{
    background: #848484;
  }
}

.link{
  text-decoration: none;
  color:$greyLight;
  @include transition(all .2s ease-in-out);
  &:hover{
    color: #dcdcdc;
  }
}

//typography
h1 {
  color: $white;
  font-family:$varelo;
  font-size: 2.5em;
  font-weight: 700;
  margin: 0;
}

h2 {
  color: $greyDark;
  font-family:$varelo;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

h3 {
  color: $greyDark;
  font-family:$varelo;
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
}

//styles
body {
  background: $white;
  font-family:$oxygen;
  font-size: 1em;
  position:relative;
}

.header{
  position:absolute;
  top:0;
  z-index:1;
  padding:15px 2.5%;
  .logo{
    font-family:$varelo;
    color:$white;
    font-size:1.8em;
  }
}

.hero{
  background:$greyDark;
  height:100vh;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  .vp{
    color:$white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding:0 5%;
    max-width:960px;
    margin:0 auto;
    p{
      font-size:1.5em;
    }
  }
}

.how{
  @include clearfix;
  background: $white;
  .block{
    padding:200px 5% 100px 5%;
  }
  .illoLg{
    background: $greyLight;
    float:right;
  }
  &:nth-child(even){
    .illoLg{
      float:left;
    }
    .block{
      padding:100px 5% 200px 5%;
    }
  }
  p{
    color:$grey;
    max-width:500px;
    font-size:1.2em;
    line-height:1.5;
  }
}

.use{
  @include clearfix;
  .card{
    padding:90px 5% 50px 5%;
    color:$grey;
  }
  .note{
    padding:0 5% 200px 5%;
    color: $grey;
  }
}

.help{
  @include clearfix;
  padding: 0 5%;
  margin: 0 0 150px 0;
  h2{
    margin: 0 0 50px 0;
  }
  .question{
    h3{
      color:$grey;
    }
    max-width:960px;
    margin: 20px auto;
    padding:20px 2.5%;
    background: $greyLight;
    position:relative;
    span{
      background:#dcdcdc;
      display:block;
      width:30px;
      height:30px;
      @include border-top-radius(150px);
      @include border-bottom-radius(150px);
      position:absolute;
      top:20px;
      right:2.5%;
      &:before{
        background:$grey;
        content:'';
        width:10px;
        height:2px;
        display:block;
        top:13px;
        left:10px;
        position:absolute;
      }
    }
    &.closed{
      span{
        &:after{
          background:$grey;
          content:'';
          height:10px;
          width:2px;
          display:block;
          position:absolute;
          left:14px;
          top:9px
        }
      }
    }
  }
  p{
    margin: 15px 0 0 0;
  }
  ul{
    padding:0 2.5%;
    color:$grey;
  }
}

.footer{
  padding: 150px 0;
  background: $greyDark;
  p{
    color:$grey;
  }
}
