.accordion{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  overflow:hidden;
}

.accordionSection{
  @include margin(nul null 30px null);
  @include background($blueLight);
  border-radius:5px;
  &:last-child{
    @include margin(nul null 0 null);
  }
  h3{
    @include margin(0);
  }
}

.accordionTitle{
  width:100%;
  @include padding(30px);
  display:inline-block;
  @include transition(all .15s linear);
  color: tint($purple, 20%);
  outline:none;
  &:hover{
    color:$purple
  }
  &:focus{
    outline:none;
  }
  &.active{
    color:$purple;
  }
}

.accordionContent{
  @include padding(0 30px 30px 30px);
  display:none;
  ul, p{
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: $weightLight;
    color: $grey;
    @include margin(0);
    @media screen and (max-width: $breakSmall) {
      font-size:1.1em;
    }
  }
}

.answer{
  display:none;
  &.show{
    display:block!important;
  }
}
