.accordion{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  overflow:hidden;
}

.accordionSection{
  @include margin(null null 30px null);
  @include background($blueLight);
  border-radius:5px;
  &:last-child{
    @include margin(null null 0 null);
  }
  h3{
    @include margin(0);
    position:relative;
    span{
      @include triangle(14px, $blue, down);
      border-radius:5px;
      display:block;
      position: absolute;
      top: 44%;
      right: 30px;
      @include transition(all .3s ease-in-out);
      &.open{
        @include transform(rotate(-180deg));
      }
    }
  }
}

.accordionTitle{
  @include size(100% auto);
  @include padding(30px 60px 30px 30px);
  @include transition(all .15s linear);
  color: tint($purple, 20%);
  display:inline-block;
  &:hover, &:focus, &:active{
    color:$purple
  }
  &.active{
    color:$purple;
  }
}

.accordionContent{
  @include padding(0 30px 30px 30px);
  display:none;
  ul, p{
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: $weightLight;
    color: $grey;
    @include margin(0);
    @media screen and (max-width: $breakSmall) {
      font-weight: $weightReg;
    }
    @media screen and (max-width: $breakSmall) {
      font-size:1.1em;
    }
  }
}

.answer{
  display:none;
  &.show{
    display:block!important;
  }
}
