.btn{
  font-size:1.2em;
  font-weight: $weightLight;
  text-decoration: none;
  color:$white;
  background:$green;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  padding:10px 30px;
  margin: 20px 0 0 0;
  display: inline-block;
  @include transition(all .2s ease-in-out);
  &:hover, &:focus, &:active{
    opacity: .9;
  }
}
