.btn{
  font-size:1.1em;
  text-decoration: none;
  color:$white;
  @include background($green);
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  @include padding(10px 30px);
  @include margin(20px 0 0 0);
  display: inline-block;
  @include transition(all .2s ease-in-out);
  &:hover, &:focus, &:active{
    background: tint($green, 15%);
    color:$white;
  }
}
