.footer{
  @include padding(200px 0);
  @include background($purple);
  overflow:hidden;
  position:relative;
  .ignite{
    position:relative;
    z-index:50;
  }
  .logomark{
    @include size(122px);
    @include margin(0 auto);
    img{
      @include size(100% auto);
    }
  }
  p{
    color:$white;
    font-weight: $weightLight;
    @include padding(45px 5% 0 5%);
    @include margin(0);
  }
  a{
    color:$green;
    &:hover{
      color: tint($green, 30%);
    }
  }
  .shapesLined{
    @include retina-image(/images/shapes-footer, 1308px 397px);
    background-position:center;
    @include size(100% 100%);
    position:absolute;
    top:0;
    left:0;
  }
}
