.footer{
  padding: 150px 0;
  background: $purple;
  p{
    color:$white;
    font-weight: $weightLight;
    padding:0 5%;
  }
  a{
    color:$green;
    &:hover{
      color:$greenLight;
    }
  }
}
