.half{
  width:50%;
}

.oneThird{
  width:33.3%;
}

.alignLeft{
  float:left;
}

.alignRight{
  float:right;
}

.centered{
  text-align:center;
}

.container{
  max-width:1400px;
  margin:0 auto;
  width:90%;
}
