ul{
  @include margin(0);
  @include padding(0 2.5%);
  color:$grey;
  @media screen and (max-width: $breakSmall) {
    @include padding(0 5%);
  }
  li{
    a{
      color: tint($purple, 30%);
      &:hover{
        color: $purple;
      }
    }
  }
}
