ul{
  margin: 0;
  padding:0 2.5%;
  color:$grey;
  @media screen and (max-width: $breakSmall) {
    padding:0 5%;
  }
  li{
    a{
      color: $purple;
      opacity: .7;
      &:hover{
        opacity: 1;
      }
    }
  }
}
