.slider{
  @include clearfix;
  &:before{
    content:'';
    @include background-image(url('/images/icon-quote-left.png'));
    background-repeat: no-repeat;
    display: block;
    @include size(64px 54px);
    left: 20%;
    top:70px;
    position: absolute;
    @media screen and (max-width: $breakXLarge) {
      left:10%;
    }
    @media screen and (max-width: $breakLarge) {
      left:0;
    }
  }
  &:after{
    content:'';
    @include background-image(url('/images/icon-quote-right.png'));
    background-repeat: no-repeat;
    display: block;
    @include size(64px 54px);
    right: 20%;
    bottom:70px;
    position: absolute;
    @media screen and (max-width: $breakXLarge) {
      right:10%;
    }
    @media screen and (max-width: $breakLarge) {
      right:0;
    }
    @media screen and (max-width: $breakSmall) {
      display:none;
    }
  }
}

.slick-dots {
    list-style: none;
    display: block;
    text-align: center;
    @include padding(null);
    @include size(100% auto);
    li {
        position: relative;
        display: inline-block;
        @include size(20px);
        @include margin(0 5px);
        @include padding(0);
        cursor: pointer;
        button {
            border: 0;
            @include background(transparent);
            display: block;
            @include size(20px);
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            @include padding(5px);
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: 1;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "•";
                @include size(20px);
                font-family: $openSans;
                font-size: 30px;
                line-height: 20px;
                text-align: center;
                color: tint($greenLight, 40%);
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $greenLight;
        }
    }
}
