body {
  font-family:$openSans;
  font-size: 1em;
  position:relative;
}

h1 {
  color: $greyDark;
  font-family:$varelo;
  font-weight: $weightReg;
  font-size: 3em;
  @media screen and (max-width: $breakXSmall) {
    font-size:2.5em;
  }
}

h2 {
  color: $greyDark;
  font-family:$varelo;
  font-size: 1.75em;
  font-weight: 400;
  margin: 0;
  @media screen and (max-width: $breakXSmall) {
    font-size:1.5em;
  }
}

h3 {
  color: $purple;
  font-family:$varelo;
  font-size: 1.25em;
  font-weight: 400;
  margin: 0;
  a{
    color: $purple;
  }
  @media screen and (max-width: $breakXSmall) {
    font-size:1.2em;
  }
}

a{
  text-decoration: none;
  outline:none;
  color: $green;
  &:hover, &:focus, &:active{
    outline:none;
  }
}

.link{
  text-decoration: none;
  color:$greyLight;
  @include transition(all .2s ease-in-out);
  &:hover{
    color: #dcdcdc;
  }
}

strong{
  font-weight: $weightBold;
}
