body {
  font-family:$openSans;
  font-size: 1em;
  position:relative;
}

h1 {
  color: $greyDark;
  font-family:$varelo;
  font-weight: $weightReg;
  font-size: 3em;
}

h2 {
  color: $greyDark;
  font-family:$varelo;
  font-size: 1.75em;
  font-weight: 400;
  margin: 0;
}

h3 {
  color: $purple;
  font-family:$varelo;
  font-size: 1.25em;
  font-weight: 400;
  margin: 0;
  a{
    color: $purple;
  }
}

a{
  text-decoration: none;
  outline:none;
  color: $green;
  &:hover, &:focus, &:active{
    outline:none;
  }
}

.link{
  text-decoration: none;
  color:$greyLight;
  @include transition(all .2s ease-in-out);
  &:hover{
    color: #dcdcdc;
  }
}

ul{
  margin: 0;
  li{
    a{
      color: $purple;
      opacity: .7;
      &:hover{
        opacity: 1;
      }
    }
  }
}

strong{
  font-weight: $weightBold;
}
