.header{
  @include clearfix;
  .nav{
    @include padding(30px 5%);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 400;
    @include transition(all .2s ease-in-out);
    border-bottom: 1px solid transparent;
    @include background(transparent);
    @media screen and (max-width: $breakSmall) {
      text-align: center;
    }
    &.scrolled{
      @include padding(20px 5%);
      border-bottom: 1px solid $greyLight;
      @include background($white);
      .logo{
        font-size:1.6em;
      }
    }
    .navLinks{
      text-align:right;
      float:right;
      @include padding(4px null);
      ul{
        list-style:none;
        @include margin(0);
        @include padding(0);
        li{
          display:inline-block;
          @include margin(null null null 25px);
        }
      }
      @media screen and (max-width: $breakSmall) {
        display:none;
      }
    }
    .logo{
      font-family:$varelo;
      color:$purple;
      font-size:1.7em;
      @include transition(all .4s ease-in-out);
    }
  }
}

.hero{
  position:relative;
  .shapesSolid{
    @include retina-image(/images/solid, 1222px 711px);
    background-position:center;
    @include size(100% 100vh);
    position:absolute;
    top:0;
    left:0;
    @media screen and (max-width: 773px) {
      @include size(100%);
    }
  }
  .shapesLined{
    @include retina-image(/images/lined, 1205px 690px);
    background-position:center;
    @include size(100% 100vh);
    position:absolute;
    top:0;
    left:0;
    @media screen and (max-width: 773px) {
      @include size(100%);
    }
  }
  height:100vh;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  @media screen and (max-width: 773px) {
    height:auto;
    @include padding(100px 5%);
  }
  h1{
    @include margin(2px 0 0 0);
  }
  img{
    @include size(150px);
    display: block;
    @include margin(0 auto);
  }
  .vp{
    color:$grey;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    @include padding(0);
    @media screen and (max-width: 773px) {
      top:0;
      transform: none;
    }
    p{
      font-size:1.6em;
      @include margin(25px auto 35px auto);
      font-weight: $weightLight;
      max-width:900px;
      line-height:1.6;
      @media screen and (max-width: $breakSmall) {
        font-weight: $weightReg;
      }
      @media screen and (max-width: $breakXSmall) {
        font-size:1.2em;
      }
    }
  }
}

.illustrationLarge{
  img{
    max-width:400px;
    @include size(100% auto);
  }
  @media screen and (max-width: $breakMedium) {
    text-align:center;
  }
}

.illustrationSmall{
  @include margin(0 auto 50px auto);
  text-align: center;
  img{
    @include size(200px auto);
  }
}

.how{
  @include clearfix;
  @include background($white);
  &.helps{
    .block{
      @include padding(200px 5% 100px 5%);
      @media screen and (max-width: $breakMedium) {
        padding:0 5%;
      }
    }
    .illustrationLarge{
      float:right;
      @media screen and (max-width: $breakMedium) {
        float:none;
      }
    }
  }
  &.works{
    .illustrationLarge{
      float:left;
      @media screen and (max-width: $breakMedium) {
        float:none;
      }
    }
    .copy{
      float:right;
    }
    .block{
      @include padding(100px 5% 50px 5%);
      @media screen and (max-width: $breakMedium) {
        @include padding(0 5%);
      }
    }
  }
  p{
    color:$grey;
    font-size:1.3em;
    line-height:1.6;
    font-weight: $weightLight;
    @media screen and (max-width: $breakSmall) {
      font-weight: $weightReg;
    }
    @media screen and (max-width: $breakXSmall) {
      font-size: 1.2em;
    }
  }
  .block{
    @media screen and (max-width: $breakMedium) {
      @include size(100% auto);
      float:none;
    }
    &.copy{
      @media screen and (max-width: $breakMedium) {
        @include padding(100px 5% 30px 5%);
      }
    }
  }

}

.use{
  @include padding(150px 0 50px 0);
  @include clearfix;
  font-size:1.13em;
  font-weight: $weightLight;
  line-height: 1.5;
  @media screen and (max-width: $breakMedium) {
    @include padding(150px 0 0 0);
  }
  @media screen and (max-width: $breakSmall) {
    font-weight: $weightReg;
  }
  @media screen and (max-width: $breakXSmall) {
    font-size:1.2em;
  }
  .col{
    @include padding(90px 5% 50px 5%);
    color:$grey;
    p{
      max-width:290px;
      @include margin(0 auto);
    }
    @media screen and (max-width: $breakSmall) {
      @include size(100% auto);
      @include padding(50px 5%);
      p{
        max-width:560px;
      }
    }
  }
  .note{
    @include padding(20px 2.5%);
    color: $grey;
    @include margin(30px auto 0 auto);
    max-width: 800px;
    @include background(#F7F7F7);
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
    @media screen and (max-width: $breakSmall) {
      max-width:560px;
    }
  }
}

.help{
  @include clearfix;
  @include padding(150px 5% 0 5%);
  @media screen and (max-width: $breakMedium) {
    @include padding(150px 0 0 0);
  }
  h2{
    @include margin(0 0 50px 0);
  }
}

.testimonials{
  @include padding(200px 0);
  @media screen and (max-width: $breakMedium) {
    @include padding(150px 0);
  }
  .quoteSlide{
    @include margin(90px auto 30px auto);
  }
  .quote{
    max-width:680px;
    @include margin(0 auto);
    font-size:1.8em;
    font-weight: $weightLight;
    color: $grey;
    @media screen and (max-width: $breakSmall) {
      font-weight: $weightReg;
    }
    @media screen and (max-width: $breakXSmall) {
      font-size:1.3em;
    }
  }
  .people{
    font-size:1.75em;
    color: $blue;
    @include margin(null null 0 null);
    font-weight: $weightLight;
    @media screen and (max-width: $breakSmall) {
      font-weight: $weightReg;
    }
    @media screen and (max-width: $breakXSmall) {
      font-size:1.2em;
    }
  }
}
