.illoLg{
  img{
    max-width:400px;
    height:auto;
    width:100%;
  }
}

.illoSm{
  margin:0 auto 50px auto;
  text-align: center;
  img{
    width:200px;
    height:auto;
  }
}

.header{
  @include clearfix;
  .nav{
    padding:30px 5%;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 400;
    @include transition(all .2s ease-in-out);
    border-bottom: 1px solid transparent;
    background: transparent;
    &.scrolled{
      padding:20px 5%;
      border-bottom: 1px solid $greyLight;
      background:$white;
      .logo{
        font-size:1.6em;
      }
    }
    .navLinks{
      text-align:right;
      float:right;
      ul{
        list-style:none;
        margin:0;
        padding:0;
        li{
          display:inline-block;
          margin-left:25px;
        }
      }
    }
    .logo{
      font-family:$varelo;
      color:$purple;
      font-size:1.7em;
      @include transition(all .4s ease-in-out);
    }
  }
}


.hero{
  background-image:url('/images/shapes-hero-background.png');
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  h1{
    margin:20px 0 0 0;
  }
  img{
    height: 150px;
    width: 150px;
    display: block;
    margin: 0 auto;
  }
  .vp{
    color:$grey;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding:0 5%;
    p{
      font-size:1.6em;
      margin: 25px auto 35px auto;
      font-weight: $weightLight;
      max-width:900px;
      line-height:1.6em;
    }
  }
}

.how{
  @include clearfix;
  background: $white;
  &.helps{
    .block{
      padding:200px 5% 100px 5%;
    }
    .illoLg{
      float:right;
    }
  }
  &.works{
    .illoLg{
      float:left;
    }
    .block{
      padding:100px 5% 50px 5%;
    }
  }
  p{
    color:$grey;
    font-size:1.3em;
    line-height:1.6;
    font-weight: $weightLight;
  }
}

.use{
  padding:150px 0 0 0;
  @include clearfix;
  font-size:1.13em;
  font-weight: $weightLight;
  line-height: 1.5;
  .col{
    padding:90px 5% 50px 5%;
    color:$grey;
    p{
      max-width:290px;
      margin:0 auto;
    }
  }
  .note{
    padding:0 5% 0 5%;
    color: $grey;
    margin:0 auto;
    max-width:960px;
  }
}

.help{
  @include clearfix;
  padding: 200px 5% 0 5%;
  h2{
    margin: 0 0 50px 0;
  }
}

.testimonials{
  padding-top: 200px;
  padding-bottom:150px;
  .quoteSlide{
    margin:90px auto 30px auto;
  }
  .quote{
    max-width:680px;
    margin:0 auto;
    font-size:1.8em;
    font-weight: $weightLight;
    color: $grey;
  }
  .people{
    font-size:1.75em;
    color: $blue;
    margin-bottom:0;
  }
}
