---
title: Welcome to Middleman
---
.header
  .logo ResumeBot
.hero
  .vp
    %h1  Format résumés faster.
    %p ResumeBot is a tool to help recruiters format resumes faster. Tasks like organizing content, adding bullets, and styling text are automated and completed within minutes.

.how.cf
  .half.alignLeft.block
    %h2 How ResumeBot Helps Recruiters
    %p Adecco recruiters spend hundreds of hours every quarter parsing and transcribing resumes. ResumeBot can do 80% of that work by stripping away formatting and organizing the information in a standard layout. From there, recruiters can easily format it according to their specific needs. This gives recruiters more time to focus on qualifying and placing candidates.
  .half.alignLeft.block


.how.cf
  .half.alignRight.block
    %h2 How ResumeBot Works
    %p ResumeBot is a robot, not a human. When you attach a resume to an email to ResumeBot, it pulls the text, organizes and formats the resume, and emails you both the original and converted files within 1 minutes and 30 seconds. If there is no text (because the file is image-based; a scan or a photo for instance), ResumeBot will return an error message. Sorry. It’s only a robot. That’s all it’s programmed to do.
